*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.car-jump{
    
    width: 90%;
    height: 500px;
    border: 1px solid black ;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEE8, #E0F6FF);
}

.nuvem1{
    position: absolute;
    bottom: 340px;
    width: 160px;
    animation: m-nuvem1 20s infinite linear; 
     
}

.nuvem2{
    position: absolute;
    bottom: 320px;
    width: 190px;
    animation: m-nuvem1 14s infinite linear; 
     
}

.nuvem3{
    position: absolute;
    bottom: 300px;
    width: 100px;
    animation: m-nuvem1 16s infinite linear; 
     
}



.pedra{
    position: absolute;
    bottom: 00px;
    width: 80px;
       
}

.carro{
    position: absolute;
    bottom: -12px;
    width: 150px;   
}

.pista{
    position: absolute;
    bottom: -128px;
    width: 100%;
   
}

#botao{
    position: absolute;
    width: 18%;
    height: 10%;
    bottom: 50%;
    left: 40%;
    font-size: 1.5em;
    font-family: 'Silkscreen', cursive, sans-serif;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 122, 74);
}

#botao2{
    position: absolute;
    width: 18%;
    height: 10%;
    bottom: 50%;
    left: 40%;
    font-size: 1.5em;
    font-family: 'Silkscreen', cursive, sans-serif;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 122, 74);
}

#perdeu{

    position: absolute;
    bottom: 155px;
    width: 18%;
    left: 41%;
    display: none;  
}

#pontos{
  height: auto;
  width: auto;
  position: absolute;
  top: 40px;
  right: 0;
  left: 85%;
  color: rgb(230, 111, 0);
  font-family: 'Silkscreen', cursive, sans-serif;
  font-size: 1.2em;
}

.anpedra{
    animation: m-pedra 2s infinite linear;
}


.jump{
    animation: jump 1000ms ease-out;
}


@keyframes mpista{
    from{
        width: 0px;
    }

    to{
        width: 100%;
}

}

@keyframes m-nuvem1{
    from{
        right: -80px;
    }

to{
    right: 100%;
}
}


@keyframes m-pedra{
    from{
        right: -80px;
    }

to{
    right: 100%;
}

}

@keyframes jump{   
    0%{
        bottom: 0;
    }
    40%{
        bottom: 100px ;
    }

    50%{
        bottom: 100px ;
    }

    60%{
        bottom: 100px ;
    }
    

    100%{
        bottom: 0;
    }
}

